<div class="row float">
    <i class="icon iconfont iconremen">热门文章</i>
    {% for hot_article in hot_articles %}
    <div class="card mb-1 w-100">
        <div class="row g-0">
            <div class="col-4">
                <a href="{{ article_link }}{{ hot_article.id }}"><img class="w-100" src="{{ hot_article.cover.url }}"
                        alt="..."></a>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <a class="text-decoration-none" href="{{ article_link }}{{ hot_article.id }}" style="color: black;">
                        <p class="card-text" style="display: -webkit-box; overflow: hidden; -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical; font-size: x-small;">{{ hot_article.title }}</p>
                    </a>
                    <p class="card-text"><small class="text-muted">浏览数: {{ hot_article.views }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>